.header__name {
    margin: 0;
    padding: 40px 0 31px 60px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    letter-spacing: -0.03em;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    color: #000000;
    opacity: 0.85;
}

@media (max-width: 735px) {
    .header__name {
        padding: 37px 20px 21px;
        width: 267px;
        text-align: right;
    }
}
