.sidebar__btn_close {
    width: 26px;
    height: 20px;
    background-image: url(../../../../images/Sidebar/menu_exit.svg);
    position: fixed;
    right: -31px;
    top: 43px;
    cursor: pointer;
    visibility: hidden;
}
    
@media (max-width: 1420px) {
    .sidebar__btn_close {
        visibility: visible;
    }
}