.sidebar__logo {
    display: flex;
    padding-top: 41px;
    padding-left: 41px;
}

@media (max-width: 1420px) {
    .sidebar__logo {
        justify-content: end;
        padding-right: 17px;
    }
}