.sidebar__menu_link {
    text-decoration: none;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
    height: 22px;
    display: flex;
}

.sidebar__menu_link:hover {
    transition: 0.2s;
    transform: scale(1.1);
    color: black;
    }

@media (max-width: 1420px) {
    .sidebar__menu_link {
        font-size: 0;
        justify-content: end;
        padding-right: 27px;
    }
}