.header__search {
    width: 100%;
    max-width: 1080px;
    height: 52px;
    margin: 0 0 40px 60px;
    border-radius: 50px;
    box-sizing: border-box;
    border: 1px solid rgba(51, 51, 51, 0.2);
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.45);
}

.header__search::placeholder {
    background-image: url(../../../images/header/search.svg);
    background-repeat: no-repeat;
    background-position: 0.7vw;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    letter-spacing: -0.001em;
    font-size: 18px;
    line-height: 28px;
    font-weight: normal;
    width: 100%;
    padding-left: 42px;
    margin: auto;
    display: flex;
}

@media (max-width: 1265px) {
    .header__search {
        max-width: 584px;
    }
    .header__search::placeholder {
        letter-spacing: -0.01em;
        background-position: 1.5vw;
        padding-left: 35px;
        font-size: 14px;
    }
}

@media (max-width: 735px) {
    .header__search {
        max-width: 280px;
        margin: 0 0 26px 20px;
        padding-left: 10px;
    }
    .header__search::placeholder {
        letter-spacing: -0.01em;
        background-position: 1.5vw;
        padding-left: 35px;
        font-size: 14px;
    }
}
