.wrapper {
    transition: 0.5s;
    position: relative;
}

@media (max-width: 1420px) {
    .wrapper {
        transform: translateX(84px);
    }
}

@media (max-width: 905px) {
    .wrapper {
        transform: translateX(0px);
    }
}