@media (max-width: 1265px) {
    .content {
        width: 100%;
        max-width: 883px;
    }
}

@media (max-width: 935px) {
    .content {
        width: 100%;
        max-width: 683px;
    }
}

@media (max-width: 735px) {
    .content {
        max-width: 323px;
    }
}